<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Templated page</title>
  </head>
  <body>
    {{> header}}
    <h1>This are the current projects:</h1>
    <p> {{list}} </p>
    {{> footer}}
  </body>
</html>
